.vscode/**
.vscode-test/**
src/**
test/**
scripts/**
.github/**
!.github/asset/icon.png
.claude/**
.git/**
.gitignore
tsconfig.json
vitest.config.js
oxlint.config.js
CHANGELOG.md
LICENSE.md
README.md
node_modules/**
!node_modules/@mistralai/**
!node_modules/base64-js/**
*.map
